p.my-class Это исчо параграф

div
  each dog in pugs
    p= dog.name
    p= dog.age
    p= dog.gender

a(href='//google.com' target='_blank') Google
br
a(href='//google.com' target='_blank') Google
br

