html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    h1 Hello, Bagdad!
    div 
      p Тут чето написано
      p Тут тоже
      p Вот это прррикол
    include partials/some_block.pug
    div 
      p тУц
      p Бац
      p исчо
    footer
